@import "global.scss";

.hello {
  height: 100vh;
  width: 100%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $fuchia;
}
.animation-container {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.svg-text {
  font-size: 26pt;
  font-family: $font-main;
  font-weight: lighter;
  letter-spacing: 0.05em;
  text-transform: uppercase;
}
#about-contact {
  -webkit-transition: font-size 0.5s;
  -moz-transition: font-size 0.5s;
  -o-transition: font-size 0.5s;
  transition: font-size 0.5s;
  cursor: cell;
  &:hover {
    font-size: larger;
    cursor: cell;
  }
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .animation-container {
    height: 100vh;
    width: 100%;
    margin-left: 50px;
  }
  .svg-text {
    font-size: 20pt;
    font-family: $font-main;
    font-weight: lighter;
    letter-spacing: 0em;
    text-transform: uppercase;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 600px) and (max-width: 736px) {
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 737px) and (max-width: 992px) {
}
